# Print numbers from 10–30 using for loop

In [2]:
for i in range(10, 31):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

# Print numbers 0,2,4,6,8,10 using for loop

In [3]:
for i in range(0, 11, 2):
    print(i, end=" ")

0 2 4 6 8 10

# Print series 50,45,40,…,0 using for loop

In [5]:
for i in range(50, -1, -5):
    print(i, end=" ")

50 45 40 35 30 25 20 15 10 5 0

# Print first 5 natural even numbers and their squares

In [6]:
for i in range(2, 11, 2):
    print(i, "Square:", i*i)

2 Square: 4
4 Square: 16
6 Square: 36
8 Square: 64
10 Square: 100

# Print table using for loop (accept table number from user)

In [7]:
n = int(input("Enter table number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n*i)

Enter table number: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

# Print sum of first 5 odd natural numbers

In [9]:
sum = 0
for i in range(1, 10, 2):
    sum += i
print("Sum of first 5 odd numbers:", sum)

Sum of first 5 odd numbers: 25

# Print factorial of a number using for loop

In [10]:
n = int(input("Enter number: "))
fact = 1
for i in range(1, n+1):
    fact *= i
print("Factorial of", n, "is", fact)

Enter number: 9
Factorial of 9 is 362880

# Marks classification using logical operators

In [11]:
marks = int(input("Enter marks: "))

if marks >= 90:
    print("Excellent")
elif marks >= 80:
    print("Good")
elif marks >= 65:
    print("Better")
elif marks < 35:
    print("Fail")
else:
    print("Average")

Enter marks: 67
Better

# Greatest among 3 numbers using nested if

In [13]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a > b:
    if a > c:
        print("Greatest:", a)
    else:
        print("Greatest:", c)
else:
    if b > c:
        print("Greatest:", b)
    else:
        print("Greatest:", c)

Enter first number: 3
Enter second number: 6
Enter third number: 8
Greatest: 8

# Smallest among 3 numbers using logical operators

In [15]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a < b and a < c:
    print("Smallest:", a)
elif b < a and b < c:
    print("Smallest:", b)
else:
    print("Smallest:", c)

Enter first number: 7
Enter second number: 10
Enter third number: 2
Smallest: 2